/* Write your CSS code here */
.heading {
  color: #551e53;
  font-family: 'Roboto';
  font-size: 40px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
